@layer reset, base, tokens, recipes, utilities;
@import "@serendie/ui/styles.css";
@import "@serendie/design-token/tokens.css";

/* @import "mirotone/dist/styles.css"; */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans JP", "Noto Sans Mono", sans-serif;
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
}
